* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// com o uso do SASS é possível fazer o encadeamento
body {
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: #121214;
}
//  todo h1 recebe os parametros encadeados no body com SASS